.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #1c283a;
  font-family: 'Kanit', sans-serif;
}

h1 {
  margin: 30px;
  font-family: 'Caveat', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  font-weight: bold;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
}

#refresh {
  display: block;
  margin: 50px auto 0;
}

#refresh h3{
  color: #4ecca3;
}

#refresh img {
  max-width: 90px;
}
